server:
  port: ${PORT:8761}
 
spring:
  application:
    name: eureka-server
  
eureka:
  client:
    registerWithEureka: false
    fetchRegistry: false
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/ 
  server:
    waitTimeInMsWhenSyncEmpty: 0
    enableSelfPreservation: true
    evictionIntervalTimerInMs: 60000

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: always

logging:
  level:
    com.netflix.eureka: INFO
    com.netflix.discovery: INFO
    